.git
.gitignore
.terraform
terraform.tfstate
terraform.tfstate.*
*.pem
*.key
certs/*.key
node_modules
vendor
var/cache
var/page_cache
var/session
var/log
generated/code
generated/metadata
pub/static/*
pub/media/tmp
.env
docker-compose.override.yml
